body{
    background-color: #f4f7f6;
    background: linear-gradient(to bottom, #cbe7ff, #ffffff);
      height: 100vh;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
}

.login {
  background: rgb(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 40px 50px;
  width: 360px;
  text-align: center;
  opacity: 0.3px;
}

.login h2{
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 40px;
}

.login button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.2s ease;
  margin-top: 20px;
}

.registration a{
    color: white;
    text-decoration: none;
}

.registration{
   text-decoration: none;
   color: white;
   width: 93.25%;
   padding: 12px;
   border: none;
   border-radius: 10px;
   background-color: black;
   color: white;
   font-weight: bold;
   font-size: 1.1em;
   cursor: pointer;
   transition: background 0.2s ease;
   margin-top: 10px;
}

input{
    height: 40px;
    border-radius: 15px;
    border: 2px solid gray;
    transition: border-color 0.3s;
}

button:hover, .registration:hover{
    background-color: gray;
}

input::placeholder {
  text-align: center;
}

input:focus {
    border-color: black;
    outline: none;
}