body{
    background-color: #f4f7f6;
    background: linear-gradient(to bottom, #cbe7ff, #ffffff);
      height: 100vh;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
}
