body{
    background-color: #f4f7f6;
    background: linear-gradient(to bottom, #cbe7ff, #ffffff);
      height: 100vh;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
}

.regisztracio {
    background: rgb(255, 255, 255, 0.85);
      backdrop-filter: blur(12px);
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      padding: 40px 50px;
      width: 360px;
      text-align: center;
      opacity: 0.3px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-bottom: 5px;
    font-weight: 600;
    color: gray;
    font-size: 0.9em;
}

input:not([type="submit"]), select {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid gray;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1em;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: black;
    outline: none;
}

.input-row {
    display: flex;
    gap: 15px;
    width: 100%;
    margin-bottom: 15px;
}

.input-row .form-group {
    flex: 1;
}

.register-button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.2s;
}

.register-button:hover {
    background-color: gray;
}

a{
    color: black;
    text-decoration: none;
}