<!doctype html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bejelentkezes.css}">
    <title>Bejelentkezés</title>
</head>
<body>
<div class="login">
    <form id="login-form" method="post" class="login-form">
    <h2>Jelentkezz be</h2>
    <input type="text" name="felhasznalonev" placeholder="Felhasználónév" required>
    <input type="password" name="jelszo" placeholder="Jelszó" required>
    <button type="submit">Belépés</button>
</form>
    <p class="registration">
        <a th:href="@{/html/regisztracio}">Regisztráció</a>
    </p>
    <script th:src="@{/javascript/bejelentkezes.js}"></script>
</div>
    
</body>
</html>