<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regisztráció</title>
    <link rel="stylesheet" th:href="@{/css/regisztracio.css}">
</head>
<body>

<div class="regisztracio">
    <h2>Regisztráció</h2>

    <form>

        <div class="form-group">
            <label for="name">Teljes név</label>
            <input type="text" id="name" name="name" placeholder="Teljes név" required>
        </div>

        <div class="form-group">
            <label for="dob">Születési Dátum</label>
            <input type="date" id="dob" name="dob" required>
        </div>

        <div class="form-group">
            <label for="gender">Nem</label>
            <select id="gender" name="gender" required>
                <option value="" disabled selected>Válasszon</option>
                <option value="male">Férfi</option>
                <option value="female">Nő</option>
            </select>
        </div>

        <div class="input-row">
            <div class="form-group">
                <label for="username">Felhasználónév</label>
                <input type="text" id="username" name="username" placeholder="Felhasználónév" required>
            </div>
            <div class="form-group">
                <label for="password">Jelszó</label>
                <input type="password" id="password" name="password" placeholder="Jelszó" required>
            </div>
        </div>

        <button type="submit" class="register-button">Regisztráció</button>
        <p class="bejelentkezes">
            <a th:href="@{/bejelentkezes}">Vissza a bejelentkezéshez</a>
        </p>
    </form>

</div>

</body>
</html>